<suite name="Test Suite">

    <!-- ✅ Register Listener HERE -->
    <listeners>
        <listener class-name="API.ExtentListener"/>
    </listeners>

    <test name="API Tests">
        <classes>
         
           
            
            <class name="API.Crawl_Status_Excel"/>
            
            
            
        </classes>
    </test>

</suite>
